/* CSS Variables */
:root {
  --black: #000;
  --white: #fff;
  --goldenbrown: #5D492C;
}
/* Global Styling */
body {
  background-color: var(--black);
  margin: 0;
}
a {
  font-family: Book Antiqua, serif;
  font-size: 1rem;
  text-decoration: none;
}
/*Repeated Color Stylings */
.divider-image,
.menu-icons,
.nav,
.nav-links,
.footer {
  background-color: var(--black);
}
.main-headings,
.menu-icon-1,
.menu-icon-2,
.paragraph-text,
.footer {
  color: var(--white);
}
/* Repeated Structure Styling */
.landing-section,
.menu-home-section,
.contact-home-section,
.location-home-section,
.reservations-home-section {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
/* Typography */
.main-headings  { /* h1 headings */
  font-family: Book Antiqua, serif;
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 1px;
}
.paragraph-text {
  font-size: 1rem;
  line-height: 1.5rem;
}
/* Buttons */
.mobile-btns {
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-family: Merriweather, serif;
  font-size: 1rem;
  font-weight: 200;
  margin: 20px 0;
  padding: 8px 32px;;
}
/* Hover status for buttons */
.mobile-btns:hover {
  background-color: var(--white);
  box-shadow: 0px 10px 50px rgba(187, 164, 132, 0.5);
  color: var(--black);
  transform: translateY(-7px);
}
/* Pressed status for buttons */
.mobile-btns:active {
  background-color: var(--goldenbrown);
}
/* Random Styling */
.divider-image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.divider-image img {
  text-align: center;
  width: 80%;
}
/* Font Awesome Icons */
.menu-icons { /* icons used for dropdown mobile menu */
  display: block;
}
.menu-icon-1 {
  font-size: 2rem;
}
.menu-icon-2 {
  display: none;
  font-size: 2rem;
}

/* Navbar */
.nav {
  padding: 5px 20px;
  position: relative;
}
.nav-logo {
  height: 100%;
  width: 150px;
}
.nav-logo-div {
  text-align: center;
}
.nav-links {
  display: none;
  padding-bottom: 20px;
  text-align: center;
}
.nav-links a {
  color: var(--white);
  display: block;
  padding: 10px 0;
  text-decoration: none;
}
.nav-links a:hover {
  background-color: var(--white);
  color: var(--black);
  text-decoration: underline;
}
.nav-links a:active { /* Pressed status for links on mobile */
  background-color: var(--white);
}

.links-div { /* Div for Hamburger Menu Links */
  /* this is to keep it center aligned with logo */
  position: absolute;
  text-align: left;
  top: 50px;
  left: 20px;
}
/* Footer */
.footer {
  padding: 0 24px 24px;
}
.footer-logo {
  height: 100%;
  width: 150px;
}
.footer-logo-div {
  display: flex;
  justify-content: center;
}

/* Landing Page */
.landing-section {
  background-image: url(images/bareque1.jpeg);
}
.landing-body,
.menu-home-body,
.contact-home-body,
.location-home-body,
.reservations-home-body {
  background-color: rgb(0,0,0, .7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 24px;
  text-align: center;
}
.landing-body h1 {
  margin: 0;
}
.landing-body p {
  color: var(--white);
}
.landing-cta-btn {
  border-radius: 20px;
  border-style: none;
  line-height: 20px;
  margin-top: 20px;
  padding: 8px 32px;
}

/* Menu Section */
.menu-home-section {
  background-image: url(images/carbonnara.jpg);
}

/* Contact Section */
.contact-home-section {
  background-image: url(images/bareque4.jpeg);
}
.contact-home-body {
  height: 100vh;
  margin-top: 32px;
}
.contact-home-body h1 {
  margin-top: 0;
}
.contact-icons {
  display: flex;
  flex-direction: column;
}
.contact-icons i {
  color: var(--white);
  font-size: 3rem;
  margin: 32px 0;
}
.contact-icons a {
  display: inline-block;
}
/* Location Section */
.location-home-section {
  background-image: url(images/bareque6.jpeg);
  margin: 20px 0 40px;
}
.location-home-body {
  background-color: rgb(0,0,0, .7);
}
/* Reservations */
.reservations-home-section {
  background-image: url(images/bareque2.jpeg);
}
.reservations-home-body {
  background-color: rgb(0,0,0, .7);
}
/* Media Queries */
